div.container4 {
    height: 100vh;
    position: relative ;
    background-color:black;
}
div.container4 p {
    margin: 0;
    font-family: Founders Grotesk;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: right;
    color: #F0E266;  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }